<!DOCTYPE html >
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../lib/angular.min.js"></script>
	<script src="../lib/jquery.js"></script>
	<style>
		.tableList *:disabled{
			background: white;
			border:none;

		}
	</style>
</head>
<body ng-controller="myctrl">
<p>
	{{bylists.length}}
</p>
	<div class="row" style="margin-top:20px;">				
		<p class="actual">实际维修项目*：</p>
		<button class="actualButton" title="新增" ng-click="add(bylists)">+</button>
	</div>
	<div class="tableList" style="margin-top:5px;" ng-if="bylists.length>=1">
		<table  border="1" class="actualTable">
			<thead>
				<tr>
					<th>更换修配件名称</th>
					<th>数量</th>
					<th>单价(元)</th>
					<th>金额(元)</th>
					<th>工时费(元)</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bylist in bylists" >
					<td><input type="text" ng-model="bylist.name" ng-disabled="{{bylist.edit}}"></td>
					<td><input type="number" ng-model="bylist.number" ng-disabled="{{bylist.edit}}"></td>
					<td><input type="number" ng-model="bylist.unitPrice" ng-disabled="{{bylist.edit}}"></td>
					<td><input type="text"  value="{{bylist.number*bylist.unitPrice==0?null:bylist.number*bylist.unitPrice}}"  ng-disabled="{{bylist.edit}}"></td>
					<td><input type="number" ng-model="bylist.hourCost" ng-disabled="{{bylist.edit}}"></td>
					<td><input type="text" ng-model="bylist.remarks" ng-disabled="{{bylist.edit}}"></td>
					<td>
						<button type="button" class="actualButton" title="删除" ng-click="delete(bylists,$index)">-</button>
					</td>
				</tr>
				<!-- <tr>
											<td><input type="text"></td>
											<td><input type="text"></td>
											<td><input type="text"></td>
											<td><input type="text"></td>
											<td><input type="text"></td>
											<td><input type="text"></td>
											<td>
												<button type="button" class="actualButton" title="删除">-</button>
											</td>
										</tr>	 -->						
			</tbody>
		</table>
		<div class="row" style="margin-top:20px;">
				<div class="col-md-6">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary" >维修配件合计金额(元)</button>
						</div>
						<input type="text" class="form-control" ng-model="maintain.repairedCost"   placeholder="请输入金额" disabled="disabled">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary">工时费合计金额(元)</button>
						</div>
						<input type="text" class="form-control" ng-model="maintain.repairedHourCost"  placeholder="请输入金额" disabled="disabled">
					</div>
				</div>
			</div>
	</div>
	<div class="row" style="margin-top:20px;">
				<div class="col-md-6">
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary">维修配件合计金额(元)</button>
						</div>
						<input type="text" class="form-control" ng-model="maintain.repairedTotalCost"   placeholder="请输入金额" disabled="disabled">
					</div>
				</div>
				
	</div>
	 <script>
    var app=angular.module("myapp",[]);
    app.controller('myctrl', ['$scope', function($scope){
    	$scope.name="wangting";
      $scope.byListObj=[
      {
      	"name":"RFID读卡器",
      	"number":1,
      	"unitPrice":100,
      	"hourCost":50,
      	"remarks":"零更换"
      },
 	{
      	"name":"RFID读卡器",
      	"number":1,
      	"unitPrice":100,
      	"hourCost":50,
      	"remarks":"零件换"
      },
       {
      	"name":"RFID读卡器",
      	"number":1,
      	"unitPrice":100,
      	"hourCost":50,
      	"remarks":"零件更换"
      }]
      $scope.bylists=angular.copy($scope.byListObj);
	    angular.forEach($scope.bylists,function(bylist){
	    	bylist.edit=true;
	    })
	   $scope.add=function(mode){
	   	var temp={
		   	"name":"",
	      	"number":null,
	      	"unitPrice":null,
	      	"hourCost":null,
	      	"remarks":"",
	      	"edit":false
	   	}
	   	mode.push(temp);

	   }
		$scope.delete=function(model,index){
			model.splice(index,1);
		}
		$scope.totalPrice=function(model,type){
		var totalPrice=0;
		angular.forEach($scope.bylists,function(bylist){
			if(type==1){
				totalPrice+=bylist["number"]*bylist["unitPrice"];
			}else{
				totalPrice+=bylist["number"]*bylist["hourCost"];
			}
		    	
			
		    })
		    return totalPrice;
}
		$scope.maintain={};
		$scope.maintain.repairedCost=$scope.totalPrice($scope.byListObj,1);
		$scope.maintain.repairedHourCost=$scope.totalPrice($scope.byListObj,2);
		$scope.maintain.repairedTotalCost=$scope.maintain.repairedCost+$scope.maintain.repairedHourCost;
    }])
    /*
    1：计算维修配件合计金额
    2：工时费合计金额
    */
 

  </script>

</body>
</html>